body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}

div {
    background-color: rgb(0, 0, 0);
    width: auto;
    border: 40px solid rgb(229, 14, 14);
    padding: 50px;
    margin: 20px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

