div {
    background-color: rgb(0, 0, 0);
    width: 300px;
    border: 40px solid rgb(229, 14, 14);
    padding: 50px;
    margin: 20px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    }