body {
    background-color: #f4f4f4; 
    color: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.currency-para {
    background-color: #c1e1c1; 
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
}
.error-message{
    color: red;
}

.form-class {
    align-items: center;
    background-color: #d4effb; 
    border: 10px solid #90caf9; 
    padding: 20px;
    margin: 0;
    color: #333; 
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:3vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
    .form-class {
        width: 80vw; 
        padding: 15px;
        gap: 4vh; 
        font-size: larger;
    }

    body {
        height: 90vh; 
        padding: 20px; 
    }
}
